<p><strong>About the Author</strong></p>
<p><em>{{ author }}</em></p>
<img src="https://res.cloudinary.com/dx4clslog/image/upload/f_auto,q_auto,w_150,h_150,c_thump,g_face,r_max/v1607949509/me/hossik_lix2qi.jpg/{{ author | sanitise }}.jpg">
<p>Developer Evangelist, experienced Technical Trainer and Google Developer Expert in Web Technologies. Active conference speaker, passionate about the latest & greatest advancements in web technologies.</p>